body {
    background-image: url("assets/fondo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#header {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#volverPag img {
  width: 80px;
  cursor: pointer;
}

/* Estilo general del menú */
.menu {
  position: fixed;
  top: 10px; 
  right: 30px;
  width: 0; 
  height: 60px; 
  background-color: #333333; 
  border: none;
  border-radius: 10px; 
  overflow: hidden; 
  transition: width 0.3s ease-in-out, border 0.3s ease-in-out; 
}


.menu-content {
  display: flex; 
  flex-direction: row; 
  gap: 15px; 
  align-items: center; 
  padding: 0 30px; 
  height: 100%; 
}

.menu-content img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.menu-content img:hover {
  transform: scale(1.2); 
}

#menu-icon {
  position: fixed;
  top: 20px; 
  right: 20px; 
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#menu-icon:hover {
  transform: scale(1.1);
}

.menu.open {
  width: 300px;
  border: 1px solid #ffcc00; 
}

/*Body*/
.body {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px; 
}

/* Estilo del multiplicador */
.multiplicador {
  font-size: 2.5rem; 
  font-weight: bold;
  color: #000000; 
  background: linear-gradient(135deg, #007bff, #ffcc00); 
  padding: 20px;
  border-radius: 20px; 
  text-align: center;
  width: 100px; 
  height: 100px; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  position: relative; 
  transition: all 0.3s ease; 
}

.multiplicador:hover {
  transform: translateY(-10px); 
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
}

.multiplicador::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 80%;
  height: 10px;
  border-radius: 50%; 
  filter: blur(5px); 
}


/* Estilo del historial */
.historial {
  background-color: #007bff; 
  padding: 15px;
  border-radius: 10px;
  text-align: center; 
  width: fit-content; 
  display: flex; 
  gap: 10px; 
  justify-content: center; 
  align-items: center;
}

.historial p {
  margin: 0; 
  color: #ffffff;
  background-color: #0056b3; 
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 0.9rem; 
}


/* Estilo del pez */
.pez {
  margin-top: 20px; 
  text-align: center;
}

.pez img {
  width: 200px; 
  height: auto;
  animation: float 3s ease-in-out infinite; 
}

/* Animación para el pez */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
}

/* Footer principal */
.footer {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  background-color: #0000006d;
  padding: 20px;
  border-top: 5px solid #ffcc00;
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}

/*Seccion de cuanto gana*/
.victoria {
  text-align: center;
}

.victoria h3 {
  font-size: 20px;
  margin-bottom: 3px;
  color: #ffcc00;
}

.victoria p {
  font-size: 18px;
  font-weight: bold;
}

/* Sección de apuesta */
.apuestaInfo {
  text-align: center;
}

.apuestaInfo h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #ffcc00;
}

.apuestaInfo p {
  font-size: 18px;
  font-weight: bold;
}

/* Botones de juego (horizontal) */
.btnJuego {
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 15px; 
}

#apuesta {
  width: 70px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#apuesta:hover{
  transform: scale(1.1);
  opacity: 0.9;
}

#jugar {
  width: 100px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#jugar:hover{
  transform: scale(1.1);
  opacity: 0.9;
}

#apuestaMax {
  width: 70px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#apuestaMax:hover{
  transform: scale(1.1);
  opacity: 0.9;
}

/* Sección de saldo */
.saldo {
  text-align: center;
}

.saldo h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #FFD700;
}

.saldo p {
  font-size: 16px;
  font-weight: bold;
}

/* Sección de información */
.informacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.informacion img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.informacion img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

