body {
    background-image: url("assets/fondo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#header {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#volverPag img {
  width: 80px;
  cursor: pointer;
}

/* Estilo general del menú */
.menu {
  position: fixed;
  top: 10px; 
  right: 30px;
  width: 0; 
  height: 60px; 
  background-color: #333333; 
  border: none;
  border-radius: 10px; 
  overflow: hidden; 
  transition: width 0.3s ease-in-out, border 0.3s ease-in-out; 
}


.menu-content {
  display: flex; 
  flex-direction: row; 
  gap: 15px; 
  align-items: center; 
  padding: 0 30px; 
  height: 100%; 
}

.menu-content img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.menu-content img:hover {
  transform: scale(1.2); 
}

#menu-icon {
  position: fixed;
  top: 20px; 
  right: 20px; 
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#menu-icon:hover {
  transform: scale(1.1);
}

.menu.open {
  width: 300px;
  border: 1px solid #ffcc00; 
}

/* Footer principal */
.footer {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  background-color: #0000006d;
  padding: 20px;
  border-top: 5px solid #ffcc00;
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}

/*Seccion de cuanto gana*/
.victoria {
  text-align: center;
}

.victoria h3 {
  font-size: 20px;
  margin-bottom: 3px;
  color: #ffcc00;
}

.victoria p {
  font-size: 18px;
  font-weight: bold;
}

/* Sección de apuesta */
.apuestaInfo {
  text-align: center;
}

.apuestaInfo h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #ffcc00;
}

.apuestaInfo p {
  font-size: 18px;
  font-weight: bold;
}

/* Botones de juego (horizontal) */
.btnJuego {
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 15px; 
}

#apuesta {
  width: 70px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#apuesta:hover{
  transform: scale(1.1);
  opacity: 0.9;
}

#jugar {
  width: 100px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#jugar:hover{
  transform: scale(1.1);
  opacity: 0.9;
}

#apuestaMax {
  width: 70px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#apuestaMax:hover{
  transform: scale(1.1);
  opacity: 0.9;
}

/* Sección de saldo */
.saldo {
  text-align: center;
}

.saldo h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #FFD700;
}

.saldo p {
  font-size: 16px;
  font-weight: bold;
}

/* Sección de información */
.informacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.informacion img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.informacion img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

